body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.node__root > circle {
  fill: red;
  r: 30;
}

.node__branch > circle {
  fill: yellow;
  r: 40;
}

.node__leaf > circle {
  fill: rgb(16, 199, 16);
  /* Let's also make the radius of leaf nodes larger */
  r: 30;
}